body {
  text-align: center;
  background-color: #00bcd4 ;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.bttn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #483c32;
  border-radius: 30%;
}

.game-over {
  background-color: orangered;
  opacity: 0.8;
}

.red {
  background-color: #db2d43;
}

.green {
  background-color: #52d017;
}

.blue {
  background-color: #1f45fc;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.btn{
  margin-bottom: 10rem;
  margin-top:3.5rem;
  border-radius: 10%;
  border: 2px solid #005086;
  background-color: #318fb5;
}
